body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

/* Header styling */
h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
#telemetry-data, #prediction {
    background-color: #ccf2ff; /* Light blue for telemetry and prediction */
    border: 1px solid #dee2e6;
    border-radius: 10px; /* Rounded corners */
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* Telemetry data paragraph styling */
#telemetry-data p, #prediction p {
    font-size: 18px;
    color: #495057;
    margin: 0;
}

/* Form styling */
#measurement-form {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Form input styling */
input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

/* Submit button styling */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#close-measurement-form {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#add-measurement-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Back link styling */
a {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    background-color: #e2e6ea;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pagination-controls {
    text-align: center;
    margin: 20px 0;
}

#pagination-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#pagination-controls button:hover {
    background-color: #0056b3;
}

#current-page {
    margin: 0 10px;
}


