body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  h1 {
    color: #343a40;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .machine-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .machine-item span {
    font-size: 16px;
    font-weight: bold;
    color: #495057;
  }
  
  .details-button {
    text-decoration: none;
    color: #007bff;
    background-color: #e2e6ea;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .details-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  