<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine List</title>
    <link rel="stylesheet" href="../styles/pocetna.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Machine Overview</h1>

    <div class="container">
        <ul id="machine-list"></ul>
    </div>

    <script src="../scripts/pocetna.js"></script>
</body>
</html>
